
<!-- Follow the .env_example and create new .env file and replace you API keys here -->

VECTARA_API_KEY= ""
VECTARA_CUSTOMER_ID= "" 
VECTARA_CLIENT_SECRET= ""
VECTARA_CLIENT_ID= ""
OPENAI_API_KEY= ""
VECTARA_CORPUS_ID= ""
QUERY_ADDRESS= "" 